<nav class="top-bar" data-topbar role="navigation" ng-controller="InsideCtrl">
  <div class="top-bar-left">
    <ul class="menu">
    <li  class="menu-text">Site title</li>
    </ul>

  </div>
  <div class="top-bar-right">
    <ul class="drop-down menu" data-dropdown-menu>

      <li> <a href="#">Profile</a></li>

      <li> <a href="#">More</a>
         <ul class="menu vertical">
           <li> <a href="#">Logout</a></li>
           <li> <a href="#">Logout</a></li>
         </ul>
      </li>

    </ul>
  </div>

</nav>

<div>
  <h3>{{user.firstname}}</h3>
    <h3>{{user.lastname}}</h3>
      <h3>{{user.email}}</h3>
  <h1>Member Area</h1>
  <button class="button" ng-click="logout()">Logout</button>
  <div>
    {{memberinfo}}
  </div>

    <button class="button" ng-click="destroySession()">Destroy Session</button>
      <button class="button" ng-click="getInfo()">getInfo</button>

</div>
