<md-whiteframe class="md-whiteframe-4dp page-container" flex-sm="45" flex-gt-sm="90" flex-gt-md="80" layout layout-align="center center">
    <div ng-cloak layout="column">
        <div flex="70">
            <md-content md-scroll-y class="md-padding" style="height:400px" scroll-glue>

                <md-content >
                    <md-content>
                        <section>

                            <md-list>

                                <md-content ng-repeat="m in messageList" class=" message" layout layout-align="center center">
                                    <md-list-item class="md-3-line">
                                        <img ng-src="images/dummy.jpg" class="md-avatar" alt="User" />
                                        <div class="md-list-item-text">

                                            <p>{{m.notes}}</p>
                                        </div>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>

                                </md-content>

                            </md-list>

                        </section>


                    </md-content>

                </md-content>
        </div>
        <div flex="30">
            <div layout="row">
                <div flex="80" >
                    <form name="loginForm" class="sign-form">
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <input required name="password" ng-model="user.password">
                            <div ng-messages="loginForm.password.$error">
                                <div ng-message="required" role="alert">This is required.</div>
                                <div ng-message="md-maxlength">The comments has to be less than 300 characters long.</div>
                            </div>
                        </md-input-container>

                    </form>
                </div>
                <div flex="20">
                    <md-button class="md-primary md-raised send-button" aria-label="Sign in" ng-click="login()">Send</md-button>
                </div>

            </div>




        </div>

    </div>






</md-whiteframe>

