
<div  ng-controller="MessageListCtrl" flex md-scroll-y >


      <md-list>
        
        <md-list-item class="md-3-line" ng-repeat="  message in messagelist" ng-click="itemClicked(messages)">
          <img class="md-avatar" ng-src="/images/dummy.jpg"/>
          <md-item-content md-ink-ripple layout="row" layout-align=" start center">

            <div class="md-list-item-text">

                <h4>{{message.who }}</h4>
                 <p>{{message.what}}</p>

            </div>
  </md-item-content>
  <md-divider ng-if="!$last"></md-divider>

</md-list-item>
</md-list>


</div>
