<div ng-controller="MessageDetailsCtrl">

  <md-content >
    <md-content>
          <section>

              <md-list>
                  <md-subheader class="md-primary header"><span align="left"> <img src="images/dummy.jpg" class="circle contact-picture"><h5>Ali Connors</h5> </span> </md-subheader>

                  <md-content ng-repeat="m in messageList" class=" message" layout layout-align="center center">
                      <md-list-item class="md-3-line">
                          <img ng-src="images/dummy.jpg" class="md-avatar" alt="User" />
                          <div class="md-list-item-text">

                              <p>{{m.notes}}</p>
                          </div>
                              <md-divider ng-if="!$last"></md-divider>
                      </md-list-item>

                  </md-content>

              </md-list>

          </section>


  </md-content>

</div>
