<div>
  <p>Sign Up</p>
  <div ng-controller="RegisterCtrl">
    <input type="text" name="firstname" placeholder="firstname" ng-model="user.firstname"/>
    <input type="text" name="lastname" placeholder="lastname" ng-model="user.lastname"/>
    <input type="email" name="email" placeholder="email" ng-model="user.email"/>
    <input type="password" name="password" placeholder="password" ng-model="user.password"/>
    <input type="submit" ng-click="register()"></input>
    </div>
  </div>
  </div>
